#logotipo {
  width: 200px;
}

body {
    margin: 10px;
    padding: 10px 50px;
    font-family: sans-serif;
    background-color: yellow;
    background-image: url(img/nome-da-imagem.png);
    background-repeat: no-repeat;
}

img:not(#logotipo), iframe {
    display: block;
    margin: 0 auto;
}

hr {
  color: black;
}

h1, h2 {
    font-family: sans-serif;
}

a:link {
    color: red;
    text-decoration: blink;
}

a:visited {
    color: blue;
    text-decoration: dashed;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

a:active {
    color: green;
}

a[href^="http"] {
    background-image: url("../img/globo.png");
    background-repeat: no-repeat;
    padding-left: 20px;
}

p {
    text-align: justify;
    font-family: sans-serif;
}

.note {
    opacity: .8;
}

.path {
    font-size: 40px;
    background-color: purple;
    padding: 2px;
    margin: 10px;
}

.path-name {
    font-size: 20px;
}
